
body {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/f9/ea/ba/f9eaba5587775540dd628f1203c3b589.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

h1 {
    font-family: 'Merriweather', serif;
    color: white;
}

ul {
    list-style: none;
    padding: 20px;
}

#searchButton:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
}

#tpcButton:hover {
    color: white;
    cursor: pointer;
    background-color: brown;
}

#subtitle {
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: 'Merriweather', serif;
    color: white;
}

#searchBar {
    padding: 25px;
}

#inputBar {
    height: 40px;
    width: 150px;
    border-radius: 7%;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

#searchButton {
    height: 40px;
    border-radius: 25%;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

li {
    margin: 25px;
    font-family: 'Patrick Hand', cursive;
    color: white;
}

#tpcButton {
    border-radius: 25%;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    height: 40px;
}

#rsfImageTopLeft {
    position: absolute;
    top: 10px;
    left: 40px;
    height: 100px;
}

#rsfImageTopRight {
    position: absolute;
    top: 10px;
    right: 40px;
    height: 100px;
    transform: scaleX(-1);
}

#rsfImageBottomLeft {
    position: absolute;
    bottom: 10px;
    left: 40px;
    height: 100px;
    transform: scaleY(-1);
}

#rsfImageBottomRight {
    position: absolute;
    bottom: 10px;
    right: 40px;
    height: 100px;
    transform: scale(-1, -1)
}



